*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-size: 50px;
    text-align: center;
    font-weight: 900;
    color: aqua;
    opacity: 1;
    position: fixed;
}
button{
    background-color: yellow;
    font-size: 10px;
    position: relative;
    left: 650px;
    top: 50px;
    border-radius: 50px;
    padding: 15px;
    position: fixed;
}

.nature{
    background: url(city2.jpg);
    background-repeat: repeat-x;
    display: block;
    height: 490px;
    width: 3000px;
    /* background-size: cover; */
    position: absolute;
    z-index: 5;
    /* animation: nat 105s linear infinite;  */
    animation-delay: 2s;
              
}
.road{
    background: url(road.jpg);
    height:210px;
    width: 3000px;
    /* background-size: cover; */
    /* background-position: bottom; */
    position: relative;
    top: 490px;
    z-index: 0;
    /* animation: nat 15s linear infinite; */
}
.car{
    height: 150px;
    width: 550px;
    background: url(car.png);
    background-size: cover;
    z-index: 10;
    position: relative;
    left: -300px;
    top: 300px;
    animation: car 35s infinite ;
    animation-delay: 2s;
   }
.wheel1{
    height: 80px;
    width: 80px;
    background: url(wheel.png);
    background-size: cover;
    position: relative;
    left: 75px;
    top: 92px;
    animation: wheel 1.5s infinite;
    animation-timing-function: linear;
    animation-delay: 2s;
    /* animation-delay: 0.3s; */

    
    
}
.wheel2{
    height: 80px;
    width: 80px;
    background: url(wheel.png);
    background-size: cover;
    position: relative;
    left: 408px;
    top: 12px;
    animation: wheel 1.5s infinite;
    animation-timing-function: linear;
    animation-delay: 2s;
    /* animation-delay: 0.3s; */
    
    
}
car:hover{
    position: fixed;
}
@keyframes wheel{
    0%{
        rotate: -360deg;
    
    }
}
@keyframes car {
    from{
        left: -300px;
    }
    to{
        left: 2500px;
    }
}
@keyframes nat {
     0%{
        right: 0px;
     }
     100%{
        right: 1000px;
     }
}